.element__name {
  color: black;
  max-width: 190px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  margin: 25px 0px 31px 21px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
