.like-button {
  background-image: url(../../images/like-button.svg);
  height: 19px;
  width: 22px;
  position: absolute;
  right: 20px;
  bottom: 30px;
  border: 0;
  background-color: white;
  transition: opacity linear 0.5s;
  cursor: pointer;
}
.like-button:hover {
  opacity: 0.5;
}
.like-button:focus {
  background-image: url(../../images/like-button_active.svg);
}
