.delete-button {
  background-image: url(../../images/delete-button.svg);
  position: absolute;
  height: 18px;
  width: 19px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity linear 0.5s;
  cursor: pointer;
}
.delete-button:hover {
  opacity: 0.6;
}
