.header {
  min-height: 74px;
  box-sizing: border-box;
  margin: 45px auto 40px;
  border-bottom: solid rgba(84, 84, 84, 0.7) 1px;
}
@media screen and (max-width: 620px) {
  .header {
    min-height: 56px;
    margin: 28px auto 42px;
  }
}
