.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  margin: 0;
  cursor: pointer;
  transition: 0.5s opacity ease-in-out;
}
.profile__avatar:hover{
  opacity: 0.2;
}
@media screen and (max-width: 880px) {
  .profile__avatar {
    justify-self: center;
    margin: 0;
  }
}
