.elements {
  display: grid;
  margin: 50px auto 68px;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 20px;
  column-gap: 17px;
  justify-content: center;
}

@media screen and (max-width: 880px) {
  .elements {
    grid-template-columns: repeat(2, min-content);
  }
}
@media screen and (max-width: 620px) {
  .elements {
    grid-template-columns: min-content;
  }
}
@media screen and (max-width: 320px) {
  .elements {
    margin: 36px auto 48px;
  }
}
